h1, h2 {

  font-family: "PT Serif Caption", serif;
  
}

p {

  font-family: "Scope One", serif;
  
}


table {
  height: 40%;
  width: 40%;
  text-align: left;
}


table, th {

  border: 1px solid black;
  
}

th {

  background-color: #F9DAE2;
  
}
