/* styles.css */



body {
  padding-top: 75px;
  background: #fcedcf url(../img/pattern.jpg) repeat-x;
  max-width: 800px;
  margin: 0 auto;
  width: 50%;
}


.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  padding-top: 20px;
  font-family: "Eagle Lake", serif;
  color: #507840;
  text-shadow: 3px 3px 6px #888888;
}

h2, p, li {
  font-family: "Macondo", cursive;
  color: #507840;
}

h2 {
  margin-top: 30px;
}

p {
  color: #618f4d;
}

img {
  padding: 4px;
  background-color: rgba(88, 115, 72, .3);
  border: 2px solid #587348;
  box-shadow: 5px 5px 10px #888888;
}

aside {
  margin: 250px 120px 15px 5px;
  max-width: 160px;
  float: right;
  padding: 3px 5px;
  background-color: rgba(117, 138, 61, .3);
  border: 3px solid #758a3d;
  box-shadow: 3px 3px 6px #888888;
}


div {
  padding: 0px 5px;
  background-color: rgba(144, 179, 123, .2);
  border: 3px solid #90b37b;
  box-shadow: 3px 3px 6px #888888;
  margin-bottom: 20px;
}
