/* styles.css */
/*
* {
	background-color: #fcedcf;
}
*/

body {
  padding-top: 75px;
  background: #fcedcf url(../img/pattern.jpg) repeat-x;
  max-width: 800px;
  margin: 0 auto;
  width: 50%;
}


.eagle-lake-regular {
  font-family: "Eagle Lake", serif;
  font-weight: 400;
  font-style: normal;
}

.macondo-regular {
  font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
  padding-top: 15px;
  font-family: "Eagle Lake", serif;
  color: #618f4d;
}

h2, p {
  font-family: "Macondo", cursive;
  color: #618f4d;
}
