
/* cal-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cal Sans';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cal-sans-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* cantarell-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cantarell-v18-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
  font-family: 'Cantarell';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cal Sans', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Cal Sans', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

html {
  /* background-image: linear-gradient(to bottom, #e7fce1, #afd1a5, #95bf88, #b8cfb2, #9cd68d, #b8dbaf, #dafad2); */
  /* background-image: radial-gradient(circle at center, #7bb369, #9ccf8c, #b2e0a4, #c7edbb, #dffad7, #e5fcde); */
  background-image: radial-gradient(circle at center, #757575, #9c9c9c, #c2c2c2, #e3e3e3, #fcfcfc);
  
}
/*#e6cad7, #d494b2, #f590bf, #d4a3ba, #e8c5d6*/

h1 {
  text-align: center;
  letter-spacing: 3px;
  color: #b84d7e;
}

h2, h3 {
  letter-spacing: 3px;
  color: #e07baa;
}

p {
  line-height: 1.25;
  color: #ba5b87;
}

.grid {
  margin: 20px 20px;
  width: 1200px;
  height: 2000px;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(3, 1fr);
  gap: 10px 10px;
}

.box {
  background-color: #ffdbec;
  border: 2px #a16480 solid;
  padding: 5px 5px;
  text-align: center;
}
              
