/*my two fonts*/
/* cherry-cream-soda-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cherry Cream Soda';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cherry-cream-soda-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chilanka-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Chilanka';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/chilanka-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/*my type scale from the online generator*/
html {font-size: 16px;}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

p, a {
  font-size: 1em;
  font-family: 'Chilanka';
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Cherry Cream Soda', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Cherry Cream Soda', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 3.05em;
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}

/*setting the image size so the company logos arent too big*/
img {
  width: 150px;
  height: auto;
}

/*setting body margins*/
body {
  margin: 20px 15px;
}

/*creating the grid*/
.grid {
  margin: 20px;
  width: 1000px;
  height: 1000px;
  display: grid;
  grid-template: repeat(1, 450px) / repeat(3, 1fr);
  gap: 10px;
  align-items: space-between;
}
