
/* cherry-cream-soda-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Cherry Cream Soda';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/cherry-cream-soda-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* chilanka-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Chilanka';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/chilanka-v23-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}



img {
  width: 50px;
  height: auto;
}

.grid {
  margin: 20px 20px;
  width: 700px;
  height: 1000px;
  display: grid;
  grid-template: 1 1fr / repeat(3, 1fr);
  gap: 10px 10px;
}
