
/* aleo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aleo-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* aboreto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aboreto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aboreto-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/*#f2fbfc #fcf0d4*/

html {
  background-image: linear-gradient(#fffff0, #ffffde, #fbfcd7, #fcfcb8);
}

* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Aboreto';
}

h1 {
  font-size: 3.5em;
  color: #edd155;
  text-shadow: 3px 3px 6px #888888;
  margin-left: 10px;
}

h2 {
  border-bottom: 2px solid #edd155;
  overflow: hidden;
  font-size: 1.7em;
}

h3 {
  font-size: 1.5em;
  color: #2a87a3;
}

p, ul {
  font-family: 'Aleo';
}

p {
  margin: 5px auto;
}

body {
  margin-right: 300px;
}

aside {
  width: 245px;
  height: 470px;
  float: right;
  margin: 15px 10px;
  background-color: #CAE9F5;
  padding: 5px 15px 0px 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

figure {
  width: 305px;
  height: 280px;
  margin: 10px;
  background-color: #dde9eb;
  padding: 20px 20px 15px 20px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

figcaption {
  font-family: 'Aleo';
  font-size: .8em;
}

a {
  font-family: 'Aleo';
  margin: 20px 10px;
}

img {
  margin: auto;
}

section {
  margin-left: 10px;
  margin-bottom: 20px;
}
