
/* amarante-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amarante';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amarante-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* amethysta-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Amethysta';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/amethysta-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  background: url(images/asg7bg.jpg);
}

body {
  width: 65%;
}

h1, h2, h3 {
  font-family: 'Amarante';
}

h1 {
  color: white;
  font-size: 4.1em;
  text-shadow: 0px 0px 5px rgb(255,255,255);
}

h2 {
  font-size: 2.6em;
  color: #48cefa;
  text-shadow: 0px 0px 3px #7adeff;
}

h3 {
  font-size: 2.2em;
  color: #48cefa;
  text-shadow: 0px 0px 3px #7adeff;
}

p {
  font-family: 'Amethysta';
  color: white;
  line-height: 1.6;
  background: rgba(152, 193, 214, 0.6);
  padding: 5px;
  box-shadow: 3px 3px 6px rgb(255,255,255);
}
