
/* aleo-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aleo';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aleo-v16-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* aboreto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Aboreto';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/aboreto-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
 box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Aboreto';
}

h2 {
  border-bottom: 2px solid black;
  overflow: hidden;
}

p, ul {
  font-family: 'Aleo';
}

body {
  margin-right: 450px;
}

aside {
  width: 240px;
  height: 270px;
  float: right;
  margin: 10px;
  background-color: #CAE9F5;
  padding: 10px 15px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

figure {
  width: 300px;
  height: 280px;
  margin: 10px;
  background-color: #CAE9F5;
  padding: 15px;
  box-shadow: 5px 5px 10px rgba(0,0,0,.5);
}

figcaption {
  font-family: 'Aleo';
  font-size: .8em;
}

a {
  font-family: 'Aleo';
}

