
/* prompt-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/prompt-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/manrope-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1, h2, h3, h4 {
  font-family: 'Prompt';
}
 p, footer, a, li {
   font-family: 'Manrope';
 }

/*
html {
	background-color: #151263;
	background-image: url(images/northernlights.png) no-repeat;
}
*/

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 15px;
}

nav a {
    background-color: dodgerblue;
    padding: 5px;
    border-radius: 5px;
}

.anim {
  width: auto;
  height: autto;
  background-image: url(images/northernlights.png);
  background-repeat: no-repeat;
  animation: animate 5s;
}

@keyframes animate {
   from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }

/*
@keyframes anim {
	from {
		transform: rotate(0) scale(.5);
		left: 120%;
	}
	50% {
		transform: rotate(-720deg) scale(.5);
		left: 0;
	}
	to {
		transform: rotate(0) scale(1);
	}
}

.anim {
	animation: anim 3s;
}
*/
