
/* prompt-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/prompt-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/manrope-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1, h2, h3, h4 {
  font-family: 'Prompt';
}
 p, footer, a, li {
   font-family: 'Manrope';
 }

footer {
	margin-top: 200px;
}


html {
	/* background-color: #151263;
	background-color: #0e0c45;
    background-color: #1a176e; */
	background-color: #2e1263;
	

}

h1, h2, h3, p, li, footer {
	color: #e3d2fc;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

nav a {
	color: rgb(55, 25, 99);
    background-color: rgb(186, 255, 227);
    padding: 5px;
    border-radius: 5px;
}

nav {
	position: relative;
	z-index: 100;
}

.anim {
  width: 962px;
  height: 374px;
  background-image: url('images/northernlights.png');
  background-size: auto;
  background-repeat: no-repeat;
  animation: animate 5s;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}


@keyframes animate {
   from {
       opacity: 0;
	   right: 120%;
          }
          to {
            opacity: 1;
			right: -35%;
          }
        }



