
/* prompt-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Prompt';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/prompt-v12-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* manrope-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/manrope-v20-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


h1, h2, h3 {
  font-family: 'Prompt';
}
 p, footer, a, li, label, input {
   font-family: 'Manrope';
 }

footer {
	margin-top: 200px;
	padding-top: 5px;
	border-top: 2px solid #baffe3;
}

/* alternate bg colors #151263 #0e0c45 */

html {
	background-color: #0e0c45;
}

h1, h2, h3, p, li, footer, label {
	color: #e3d2fc;
}

h1, h2, h3 {
	margin-top: 30px;
}

a {
	color: #baffe3;
}

img {
	padding: 5px;
	background-color: #baffe3;
}

body {
	max-width: 900px;
	padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 15px;
}

nav a {
	color: rgb(55, 25, 99);
    background-color: rgb(186, 255, 227);
    padding: 10px;
    border-radius: 5px;
}

nav {
	position: relative;
	z-index: 100;
}

.anim {
  width: 481px;
  height: 187px;
  background-image: url('images/northernlights.png');
  background-size: auto;
  background-repeat: no-repeat;
  animation: animate 5s;
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
}


@keyframes animate {
   from {
       opacity: 0;
	   right: 120%;
	   transform: scale(3);
          }
          to {
            opacity: 1;
			right: 0%;
			transform: scale(1);
          }
        }


.comments input[type="text"] {
    width: 35%;
	height: 50px;
    }

input[type="text"] {
	margin-top: 10px;
	width: 35%;
	background-color: #d4ffed;
}

