

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anaheim-<uniquifier> {
  font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

h1, h2, h3 {
      font-family: "Montserrat Alternates";
}

p {
      font-family: "Anaheim";
}
