

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anaheim-<uniquifier> {
  font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


html {
  background: url(images/colourloverspattern.png);
  background-repeat: repeat;
}

h1, h2, h3 {
  font-family: "Montserrat Alternates";
}

h1 {
  font-size: 45px;
  margin: 40px 0px;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p {
  font-family: "Anaheim";
  font-size: 1.3em;
}

body {
  width: 65%;
  max-width: 800px;
  margin: 0 auto;
}

a {
  font-family: "Anaheim";
  padding: 5px;
  margin-top: 40px;
  background-color: rgba(220, 205, 160, .5);
}


