/* here are my two google fonts that i used*/
.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.anaheim-<uniquifier> {
  font-family: "Anaheim", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/*included background pattern from colourlovers*/
html {
  background: url(images/colourloverspattern.png);
  background-repeat: repeat;
}

/*setting the font for my headings and centering them on the page*/
h1, h2, h3 {
  font-family: "Montserrat Alternates";
  text-align: center;
}

/*changing font sizes and colors for various text*/
h1 {
  font-size: 45px;
  margin: 40px 0px;
  color: #db7702;
  letter-spacing: 2px;
}

h2 {
  font-size: 2em;
  color: #c27317;
}

h3 {
  font-size: 1.5em;
  color: #cc720a;
}

/*also adding some line spacing and a background color for text to make it more easily readable*/
p {
  font-family: "Anaheim";
  font-size: 1.3em;
  line-height: 1.5;
  color: #a65a02;
  padding: 5px;
  background-color: rgba(215, 229, 240, .5);
}

/*centering body on the page*/
body {
  width: 65%;
  max-width: 800px;
  margin: 0 auto;
}

/*added background color to my link crediting the background pattern artist, so text is more clearly visible*/
a {
  font-family: "Anaheim";
  margin-top: 80px;
  padding: 5px;
  background-color: rgba(250, 183, 105, .6);
}

/*floating my image to the right of my overview summary paragraph*/
img {
  float: right;
}

